html, body{
    border: 0;
    height: 100%;
    margin: 0;
    width: 100%;
}
fieldset {
    border: 0;
    padding: 0;
}
/* video  */
#covid-gif
{ 
    width: 100%; 
    margin: 10px auto; 
    height: 100%;
}

/* #mainimg 
{ 
    width: 100%; 
    margin: 10px auto; 
    height: 100%;
} */

div .loginForm{
    margin: 0 auto;
}

header, section {
    margin: 5px;
    padding: 30px 50px;
}

header{
    height: 40px;
}

.content {
    display: flex;
    flex-direction: row;
    height: 700px;
    margin-bottom: 50px;
}

section, aside {
    float: left;
    min-height: 100%;
    position: relative;
}

section #logo {
    text-align: center;
    margin-bottom: 30px;
}

.content section{
    flex: 1.5;
    padding:10px
}

.content .Bigbox {
    border: 2px solid rgb(56, 56, 56);
    border-radius: 10px;
    padding: 40px 30px;
    position: relative;
    height: 300px;
}


.Bigbox .login_box {
    margin: 5px 0 25px;
    height: 48px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    box-sizing: border-box;
}

.Bigbox .login_text {
    position: relative;
    width: 300px;
    height: 50px;
    margin: 0 0 3px 0;
    padding: 10px 15px 10px;
    box-sizing: border-box;
}

.Bigbox .login_text+.login_text {
    border-top: 1px solid #ddd;
}

.container_1 {
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container_1 .icon{
    position: absolute;
    margin-right: 0px;
    margin-bottom: 0px;
    z-index: 1;
    color: #4f5b66;
    bottom: -2px;
}

.login_text input {
    display: block;
    margin-left: 20px;
    margin-top:5px;
    padding-left: 5px;
    width: 90%;
    height: 100%;
    font-size: 15px;
    color: #000;
    border: none;
    outline: 0;
    -webkit-appearance: none;
    background-color: transparent;
}

.btn_login {
    margin: 20px 0 30px;
    width: 100%;
    height: 45px;
    border-radius: 3px;
    font-size: 16px;
    color: #ffffff;
    border: 0;
    background-color: #B0D8FF;
    cursor: pointer;
}

.sign-up-form-button {
    margin: 20px 0 0 15px;
    width: 90%;
    height: 30px;
    border-radius: 3px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    border: 1px solid #B0D8FF;
    background-color: #ffffff;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
}

aside {
    flex: 3.5;
    padding: 10px;
    margin: 5px;
}

footer {
    color:#999;
    height: 50px;
    text-align: center;
    width: 98%;
    bottom: 0;
    margin: 5px;
    position: absolute;
}